.pink-with-brown {
    background-color: rosybrown;
}

.pink-with-white {
    background-color: lightpink;
}

.pink-with-green {
    /*wtf?*/
    background-color: #AAFCAA;
}

.pink-with-olive {
    background-color:#D3FCAA;
}

.pink-with-gray {
    background-color: #CFB4B4;
}

.pink-with-turquoise {
    background-color: #AAFCD3;
}

.pink-with-light-blue {
    background-color: #D4FFEA;
}
